body {
    color: rgba(0, 0, 0, 0.774)
}
.main-container {
    display: inline-block;
    font-weight: bold;
    margin-left: 5%;
    width: 90%;
    /*background-attachment: fixed;*/
    
}
.main-container  .header-and-intro {
    padding: 20%;
    background-image:  url("https://static.vecteezy.com/system/resources/previews/001/919/268/non_2x/continuous-one-line-drawing-of-young-man-playing-skateboarding-boy-playing-competition-challenging-sport-isolated-on-white-background-sport-illustration-theme-minimalist-style-vector.jpg");
    background-position: top;
    background-repeat: no-repeat;
    margin: 5% 0 10% 0;
    text-align: center;
   
    
}
.main-container.header-and-intro h1 {
    border-bottom: solid red 1px;
    margin-bottom: 8%;
}
.main-container .row {
    display: flex;
}

.main-container .row .col-md-7 {
    align-self: center;
}

.main-container .row article {
    margin: 0 15% 0 0%;
}


/* buttons*/

.supporting {
    margin: 20% 0;
}

.supporting .btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button:first-child:hover, button:last-child:hover {
    background-color: white;
    color: green;
}

.btn-group button:nth-of-type(2):hover {
    background-color: rgba(14, 204, 14, 0.801);
}




