body {
    color: rgba(0, 0, 0, 0.774)
}
.main-container {
    display: inline-block;
    font-weight: bold;
    margin-left: 5%;
    

    
}
.main-container  .header-and-intro {
    background-image:  url("https://static.vecteezy.com/system/resources/previews/001/919/268/non_2x/continuous-one-line-drawing-of-young-man-playing-skateboarding-boy-playing-competition-challenging-sport-isolated-on-white-background-sport-illustration-theme-minimalist-style-vector.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    margin: 5% 0 10% 0;
    text-align: center;
}
.info-header-intro {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.main-container .row article {
    margin: 0 15% 0 0%;
}
.main-container .row article img {  
    width: 60vh;
}

.main-container .row article h2 {
    margin-bottom: 10%;
    border-top: solid 1px green;
}

/* buttons*/

.supporting {
    margin: 0 0 15% 0;
}



.btn-group button:first-child:hover, button:last-child:hover {
    background-color: white;
    color: green;
}

.btn-group button:nth-of-type(2):hover {
    background-color: rgba(14, 204, 14, 0.801);
}




