/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */


 
 body {
     color:goldenrod;
     font-size: 1.1em;
     text-align: justify;
     margin: 10px 10px 10px 10px;
     background-image: url("https://i.pinimg.com/originals/a8/c3/49/a8c3495f20c6b67c97b55c919b14a784.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     
 }
 body::after {
     content: "";
     width: 100%;
     right: 0;
     left: 0;
     bottom: 0;
     top: 0;
     position: absolute;
     z-index: -1;
     background-image: linear-gradient(to top, rgb(0, 0, 0) 22%, rgba(0, 50, 96, 0) 70%);
     transform: scale(5.6);
 }

h2 {
    font-size: 2.5em;
}

 header {
     color: black;
     font-weight: bolder;
     display: flex;
     justify-content: space-between;
    
 }
 
 header h1 {
     font-size: 4em;
     text-align: center;
     margin: 15px 0 0 150px;
     border-bottom: green dashed 2px;
    
 }

 header h4 {
     margin: 15px 0 0 210px;
 }

 .navigation button {
     font-size: 1.2em;
     display: inline-block;
     margin: 40px 15px 0 15px;
     background-color: rgba(0, 238, 0, 0.322);
     border-radius: 3px;
     padding: 5px 5px;
     font: fantasy;


 }


 button:hover, button:active {
     background-color: goldenrod;
 }

 .main-content {
     width: 70%;
     padding: 15px;
     line-height: 1.5em;
    
 }

 .main-content article:first-child {
     background-color: rgba(0, 238, 0, 0.322);
     padding: 10px;
     border-radius: 10px;
 }

 .right-border{
     color: whitesmoke;
     font-size: 1.3em;
     text-align: center;
     line-height: 2em;
     text-decoration: underline;
     position: relative;
     float: right;
     margin-right: 15px;
     padding: 15px;
     border: solid black 1.7px;
 }
 .topics {
     border: green dashed 1.2px;
 }
/* COlocar a la derecha*/
 article img  {
     display: block;
     margin: auto;
     
 }

 a:hover, a:focus, a:active {
     color: red;
 }

 /*footer*/
 .footer {
     background-color: rgba(0, 238, 0, 0.156);
     display: flex;
     justify-content: center;
     height: 60px;
     margin-top: 10px;
     margin-bottom: 35px;
 }

.footer h3, ul {
    text-align: center;
}